services:
  api:
    build: .
    image: sulimankh87/taskhub-api:1.0.0
    container_name: taskhub-api
    command: uvicorn app.main:app --host 0.0.0.0 --port 8080 --reload
    env_file:
      - .env
    ports:
      - "8000:8080"
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/code
    networks:
      - taskhub-network
    restart: on-failure

  celery-worker:
    build: .
    image: sulimankh87/taskhub-celery:1.0.0
    container_name: celery-worker
    command: celery -A app.celery_app.celery_app worker --loglevel=info
    env_file:
      - .env
    volumes:
      - .:/code
    depends_on:
      mongo:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - taskhub-network
    restart: on-failure

  mongo:
    image: mongo:7
    container_name: taskhub-mongo
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - mongo_data:/data/db
    networks:
      - taskhub-network
    restart: unless-stopped

  redis:
    image: redis:7-alpine
    container_name: redis
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - taskhub-network
    restart: unless-stopped

volumes:
  mongo_data:

networks:
  taskhub-network:
    driver: bridge
